snippet clhome "Custom Link homepage"
{
	id: "$1-homepage",
	group: "$2",
	match: "$3",
	name: "Homepage",
	url: "$4",
},
endsnippet

snippet cldocs "Custom Link Docs"
{
	id: "$1-docs",
	group: "$2",
	match: "$3",
	name: "Docs",
	url: "$4",
},
endsnippet

snippet clquery "Custom Link Search in Docs"
{
	id: "$1-query",
	group: "$2",
	match: "$3",
	name: "Search in Docs",
	url: "$4",
},
endsnippet

snippet cljp "Custom Link Search in Docs"
🇯🇵
endsnippet
