snippet img "img for blog"
<!-- TODO:$1  -->
![画像](../images/$2)$3
endsnippet

snippet tdis "textlint disable" m
<!-- textlint-disable -->

$1

<!-- textlint-enable -->
endsnippet

snippet qimg "img for blog"
![$1](~/assets/images/`!v expand('%:t:r')`/$2)$3
endsnippet

snippet qdis "textlint disable" m
{/* textlint-disable */}

$1

{/* textlint-enable */}
endsnippet

snippet image "astro"
<Image width="500"
  src="~/assets/images/`!v expand('%:t:r')`/$1"
  alt=""
/>
endsnippet
