snippet "tdis|qdis" "textlint disable" mr
{/* textlint-disable */}

$1

{/* textlint-enable */}
endsnippet

snippet "img|qimg|image|Image" "astro" r
<Image width="500"
  src="@:$1"
  alt="$2"
/>
endsnippet

snippet "video|qvideo|Video" "astro" r
<Video width="800"
  src="@:$1"
  alt="$2"
  muted={true}
	autoplay={true}
	loop={true}
/>
endsnippet
