/*------------------------
参考: https://www.naporitansushi.com/stylus-deepl/
-------------------------*/

/*ヘッダー非表示*/
header.dl_header.dl_header--sticky {
  display: none;
}

/*テキストの翻訳＆ファイルの翻訳ボタン非表示*/
.lmt__docTrans-tab-container {
  display: none !important;
}

/*テキストエリア内の「翻訳するにはテキストを入力してください～～」の文章非表示*/
span.lmt__textarea_placeholder_text {
  display: none !important;
}

/*テキストエリア下の「DeepL Proの無料体験で、DeepLを最大限に活用しましょう」非表示*/
div#lmt_pro_ad_container {
  display: none !important;
}

/*「毎日、何百万もの人々がDeepLで翻訳していま」文章非表示*/
.dl_body--redesign.dl_top_element--wide.dl_visible_desktop_only.eSEOtericText {
  display: none;
}

/*「〜ドイツ企業のDeepL、Google翻訳を超える〜」文章非表示*/
.dl_top_element.dl_top_element--wide {
  display: none;
}

/*フッター非表示*/
.dl_footerV2_container {
  display: none;
}

/*------------------------
色々な部分を非表示
-------------------------*/


/*横配置から縦配置に変更*/
.lmt--web .lmt__sides_container .lmt__sides_wrapper {
  flex-flow: column !important;
}

/*テキストエリアの余白*/
.lmt__textarea_container {
  padding-bottom: 40px !important;
  padding-top: 10px !important;
  min-height: 20vh !important;
}

/*翻訳欄の横幅*/
.lmt--web .lmt__side_container {
  width: calc(94vw);
}

/*ページ下の余白削除*/
.dl_translator_page_container {
  height: 100vh !important;
}

/*翻訳ボタン（矢印）削除*/
.lmt__language_container_switch {
  display: none !important;
}
